body, html {
    background: #ffffff;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #475465;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize
}
.back{
    background: #0000006b;
}

.navbar {
    margin-bottom: 0 !important
}

.header {
    background: #0c486b
}

.social-icon-fb, .social-icon-google, .social-icon-insta, .social-icon-linkdin, .social-icon-twit {
    padding: 1px 6px !important;
    margin: 5px !important;
    color: #fff !important;
    border-radius: 0 !important
}

.social-icon-fb {
    background: #3c5999 !important
}

.social-icon-insta {
    background: #553f90 !important
}

.social-icon-twit {
    background: #41acec !important
}

.social-icon-google {
    background: #dc4a38 !important
}

.social-icon-linkdin {
    background: #2b7bb7 !important
}

.header_info {
    padding: 5px;
    margin: 2px
}

.header_info a {
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-decoration: none
}

.navbar-default {
    background: #37b3d8;
    padding: 15px 50px;
    border-radius: 0;
    border-color: #37b3d8
}

.navbar-nav > li > a {
    color: #fff !important
}

.container {
    width: 100%
}

.banner {
    background-attachment: fixed;
    background-image: url(/images/home_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover

}

.container_home_register {
    background: #1b5682d9;
    padding: 30px 10px;
    margin: 20% 20% 25% 10%
}

.top_register {
    padding: 7px;
    color: #fff
}

.form-group {
    margin-top: 5px
}

.form-control {
    border: 1px solid;
    border-radius: 0;
    padding: 20px
}

.button1 {
    background: #ffffff;
    color: #556969;
    padding: 10px 50px;
    -webkit-transition: background 2s;
    transition: background 1s;
}

.button1:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: 0;
    background-color: #878d8e;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: padding .35s ease-in-out;
    transition: padding .35s ease-in-out
}

#myBtn:hover {
    background-color: #555;
    padding: 15px
}

.intro {
    margin: 25% 27% 10% 12%;
    color: #fff
}

.start-now {

    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: #185c8af0 !important;
    padding: 15px;
    border: 1px solid #185c8af0;

}

.start-now:hover {
    color: white!important;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: rgb(23, 66, 99) !important;
    padding: 15px;
    border: 1px solid rgb(47, 103, 142);

}

.features-content {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    background: #fff;
    opacity: .87
}

.f_circel {
    font-size: 100px !important
}

.home_btn {
    border: 1px solid #000;
    border-radius: 0;
    padding: 15px;
    background: 0 0;
    -webkit-transition: background .35s ease-in-out;
    transition: background .35s ease-in-out
}

.home_btn:hover {
    color: #fff;
    border: 1px solid #354458;
    border-radius: 0;
    padding: 15px;
    background: #354458
}

.block, .submit_job a {
    border: 1px solid #fff;
    color: #fff
}

.block {
    margin: 10px
}

#into {
    background-image: url(/images/image_home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.home_intro {
    background: #4e4a28;
    opacity: .76
}

.submit_job {
    color: #fff;
    padding: 10%;
    text-align: center;
    background: #48c4d8
}

.submit_job a {
    padding: 10px 50px;
    text-decoration: none
}

.submit_job h1 {
    margin: 30px
}



.job_container {
    padding: 25px;
    margin: 50px;
    color: #000;
    background: #fff;
    opacity: .85;
    text-align: center
}

.btn_apply, .btn_apply:hover {
    text-decoration: none;
    padding: 5px
}

.btn_apply {
    color: #000;
    border-radius: 0;
    border: 1px solid #080707
}

.btn_apply:hover {
    border-radius: 0;
    border: 1px solid #080707;
    background: #000;
    color: #fff
}

.sector {
    margin-top: -20px;
    background-image: url(/images/home_3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.latest_contain {
    background: #efe273;
}

.box {
    color: #2c2c2c;
    text-align: center;
    background: rgba(255, 241, 122, 0.93);
    padding: 30px;
    margin: 2%;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}

.dropdown-menu {
    background: #172d4a;
}

.dropdown-menu li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background: #283340;
}

.ceo_img {
    width: auto;
    height: 200px;
    opacity: 1;
    border-radius: 100px;
}

/*form css*/

.form_page {
    margin: 20px 250px 20px 250px;
    background: white;
    color: black;
    opacity: 0.87;
    padding: 25px;
}


.banner_footer{
    background: #fcfffa;
    padding: 10px;
    opacity: 0.75
}
.itbox{
    margin-left: 20%;
}
.boxrow{
    margin-left: 10%
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: white;
}
@media only screen and (max-width: 1024px) {
    .intro {
        margin: 35% 15% 10% 12%;
        color: #fff;
    }

}

@media only screen and (max-width: 800px) {
    .intro{
        display: none;
    }
    .navbar-default {

        padding: 0px;

    }
    .container_home_register {
        margin: 10%;
    }
    .block {
        margin: 0px;
    }
    .home_intro{
        padding: 10px;
    }
    .itbox{
        margin-left: 0%;
    }
    .margin{
        margin-left: 25%;

    }
    .iframe{
        display: none;
    }

}
@media only screen and (max-width: 767px) {
    .containerheader{
        margin-left: 25%;
    }
.header_info a{
    padding:5px 10px 5px 10px;
}
    .iframe{
        display: none;
    }

}
@media only screen and (max-width: 767px) {
    .container_home_register {
        margin: 5px;
    }
    .banner_footer{
        display: none;
    }
    .margin{
        margin-left: 0%;

    }
    .job_container{
        margin: 15px 0 15px 0px;
        padding: 15px;

    }
    .box{
        margin:5px;
    }
    .boxrow{
        margin-left: 5%;
        margin-right: 5%;
    }
    .form_page{
        margin: 0 0 10% 0px;
    }
    .iframe{
        display: none;
    }

}

@media (max-width:900px) and (min-width:700px) {
    .form_page{
        margin: 10%;
    }
    .iframe{
        display: none;
    }

}
/* Business Box area css

============================================================================================ */
.business_box_area {
    padding: 100px 0px;
}
.business_box_area .sec_middle_title {
    padding-bottom: 60px;
}

.business_box_item .business_image {
    overflow: hidden;
    position: relative;
    display: block;
}
.business_box_item .business_image:before {
    content: "";
    background: rgba(24, 186, 96, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    display: block;
}
.business_box_item .business_image img {
    max-width: 100%;
}
.business_box_item .business_text {
    border-left: 3px solid black;
    padding-left: 15px;
    margin-top: 30px;
}
.business_box_item .business_text h4 {
    font-size: 16px;
    font-weight: bold;
    color: white;
    font-family: initial;
    text-transform: uppercase;
    letter-spacing: .32px;
    padding-bottom: 8px;
}
.business_box_item .business_text h4:hover {
    color: black;
}
.business_box_item .business_text h5 {
    font-size: 17px;
    color: black;
    font-family: initial;
    font-weight: 400;
    letter-spacing: .34px;
}
.business_box_item:hover .business_image:before {
    transform: scaleX(1);
    opacity: 1;
}
.business_box_item:hover .business_image img {
    transform: scale(1.05);
}

/* End Business Box css
============================================================================================ */
/* Our Service area css
============================================================================================ */
.our_service_area {
    background: #f4f4f4;
    padding: 100px 0px;
}
.our_service_area.our_white_service {
    background: #fff;
}
.our_service_area.our_white_service .section_title {
    padding-bottom: 17px;
}

.service_inner {
    margin-bottom: -30px;
    overflow: hidden;
}

.service_item {
    padding: 34px 15px 34px 24px;
    background: #ff7373;
    margin-bottom: 30px;
    transition: all 150ms ease;
}
.service_item .media .media-left {
    padding-right: 20px;
    position: relative;
}
.service_item .media .media-left img + img {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.service_item .media .media-body h4 {
    font-size: 16px;
    font-family: initial;
    color: white;
    letter-spacing: .32px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
}
.service_item .media .media-body p {
    font-size: 16px;
    line-height: 24px;
    font-family: initial;
    letter-spacing: .32px;
    color: black;
    font-weight: 400;
    padding-bottom: 15px;
}
.service_item .media .media-body .more_link {
    font-size: 14px;
}
.service_item:hover {
    background: #48b4d8;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.38);
}
.service_item:hover .media .media-left img {
    opacity: 0;
}
.service_item:hover .media .media-left img + img {
    opacity: 1;
}
.service_item:hover .media .media-body h4 {
    color: #fff;
}
.service_item:hover .media .media-body p {
    color: #ffffff;
}

.more_link {
    font-family: initial;
    font-weight: bold;
    letter-spacing: .384px;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
}
.more_link:hover {
    text-decoration: underline;
    color: black;
}

/* End Our Service area css
============================================================================================ */
/* Practice area css
============================================================================================ */
.practice_area {
    padding: 100px 0px;
}

.practice_item .practice_image {
    position: relative;
    z-index: 2;
}
.practice_item .practice_image:before {
    content: "";
    background: rgba(24, 186, 96, 0.9);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
}
.practice_item .practice_image img {
    max-width: 100%;
}
.practice_item .practice_image a {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: initial;
    letter-spacing: .42px;
    font-weight: bold;
    opacity: 0;
    margin-top: -9px;
}
.practice_item .practice_image a h4 {
    font-size: 14px;
    font-family: initial;
    font-weight: bold;
    letter-spacing: .42px;
}
.practice_item h5 {
    font-size: 17px;
    font-family: initial;
    font-weight: bold;
    color: white;
    line-height: 22px;
    letter-spacing: .34px;
    padding-right: 60px;
    padding-top: 25px;
}
.practice_item:hover .practice_image:before {
    transform: scaleX(1);
}
.practice_item:hover .practice_image a {
    opacity: 1;
}

/* End Practice area css
============================================================================================ */
/* Company area css
============================================================================================ */
.our_company_area {
    padding: 100px 0px;
    background: #f4f4f4;
}
.our_company_area .section_title {
    padding-bottom: 40px;
}
.our_company_area.white_company {
    background: #fff;
}

.company_item .company_image .company_img {
    position: relative;
    overflow: hidden;
}
.company_item .company_image .company_img:before {
    content: "";
    background: rgba(24, 186, 96, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
.company_item .company_image .company_img:hover:before {
    transform: scaleX(1);
}
.company_item .company_image img {
    max-width: 100%;
}
.company_item h6 {
    font-size: 20px;
    font-family: initial;
    line-height: 26px;
    color: white;
    letter-spacing: .40px;
    padding: 27px 0px 25px 0px;
}
.company_item p {
    font-size: 17px;
    color: black;
    font-family: initial;
    line-height: 28px;
    letter-spacing: .34px;
}

.company_collaps_inner {
    padding-left: 34px;
}

.company_collaps .panel.panel-default {
    border-radius: 0px;
    border-color: #dedede;
    margin-top: 10px;
}
.company_collaps .panel.panel-default:first-child {
    margin-top: 0px;
}
.company_collaps .panel.panel-default .panel-heading {
    padding: 0px;
    border-radius: 0px;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a {
    line-height: 52px;
    padding: 0px 15px;
    background: #fff;
    display: block;
    font-size: 18px;
    font-family: initial;
    color: white;
    letter-spacing: .54px;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a i {
    height: 28px;
    width: 28px;
    text-align: center;
    background: transparent;
    display: inline-block;
    line-height: 28px;
    color: black;
    font-size: 14px;
    margin-right: 20px;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a .fa-plus {
    display: none;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a .fa-minus {
    display: inline-block;
    background: black;
    color: #fff;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a.collapsed .fa-plus {
    display: inline-block;
}
.company_collaps .panel.panel-default .panel-heading .panel-title a.collapsed .fa-minus {
    display: none;
}
.company_collaps .panel.panel-default .panel-collapse .panel-body {
    border-top: 0px;
    padding: 5px 35px 35px 64px;
    font-size: 15px;
    line-height: 26px;
    color: black;
    letter-spacing: .45px;
    font-family: initial;
}

/* End Company area css
============================================================================================ */
/* Testimonials area css
============================================================================================ */
.testimonials_area {
    background: #205081;
    padding: 100px 0px;
}

.testimonials_slider .item .media {
    padding-right: 100px;
    padding-top: 54px;
}
.testimonials_slider .item .media .media-left {
    text-align: center;
    padding-right: 74px;
}
.testimonials_slider .item .media .media-left img {
    width: auto;
}
.testimonials_slider .item .media .media-left i {
    color: black;
    font-size: 100px;
    font-weight: bold;
    line-height: 100px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    padding-top: 15px;
    display: block;
}
.testimonials_slider .item .media .media-body p {
    font-size: 22px;
    font-family: initial;
    line-height: 35px;
    letter-spacing: .66px;
    color: #fff;
    font-style: italic;
}
.testimonials_slider .item .media .media-body h4 {
    font-size: 18px;
    font-family: initial;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .54px;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 10px;
}
.testimonials_slider .item .media .media-body h5 {
    font-size: 18px;
    font-family: initial;
    letter-spacing: .54px;
    font-style: italic;
    color: #849bb3;
}
.testimonials_slider .owl-dots {
    position: absolute;
    left: 197px;
    top: 0px;
}
.testimonials_slider .owl-dots .owl-dot {
    height: 10px;
    width: 10px;
    border: 1px solid #92a5b7;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.testimonials_slider .owl-dots .owl-dot:last-child {
    margin-right: 0px;
}
.testimonials_slider .owl-dots .owl-dot.active {
    background: black;
}

/* End Testimonials area css
============================================================================================ */
/* Partner Logo area css
============================================================================================ */
.partner_area {
    background: #eeeeee;
}

.partner_slider .item {
    text-align: center;
    line-height: 176px;
}
.partner_slider .item img {
    width: auto;
    max-width: 100%;
    display: inline-block;
}

/* End Partner Logo area css
============================================================================================ */
/* Our Services area css
============================================================================================ */
.service_area {
    padding: 100px 0px;
}
.service_area .section_title {
    padding-bottom: 60px;
}

.service_item_inner {
    margin-bottom: -60px;
    overflow: hidden;
    clear: both;
}
.service_item_inner .business_box_item {
    margin-bottom: 60px;
}

/* Single Service css */
.analysis_market {
    margin-top: 35px;
}
.analysis_market .our_about_image {
    margin-top: 55px;
    margin-right: -8px;
}

.analysis_text {
    padding-left: 30px;
}
.analysis_text h3 {
    color: white;
    font-family: initial;
    font-size: 24px;
    padding-bottom: 20px;
}
.analysis_text p {
    font-size: 17px;
    line-height: 28px;
    letter-spacing: .34px;
    color: #797979;
    font-family: initial;
}
.analysis_text ul {
    padding-top: 20px;
}
.analysis_text ul li a {
    color: #999999;
    letter-spacing: .34px;
    line-height: 28px;
    font-family: initial;
    font-size: 17px;
}

.market_option {
    margin-top: 55px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
}
.market_option .col-sm-4:first-child .market_option_item:before {
    display: none;
}
.market_option .market_option_item {
    text-align: center;
    padding: 35px 15px;
    position: relative;
}
.market_option .market_option_item:before {
    content: "";
    background: #e5e5e5;
    height: 165px;
    width: 1px;
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}
.market_option .market_option_item img {
    max-width: 100%;
}
.market_option .market_option_item h4 {
    font-size: 16px;
    color: white;
    font-family: initial;
    text-transform: uppercase;
    padding: 22px 0px 10px 0px;
}
.market_option .market_option_item p {
    font-size: 16px;
    color: #797979;
    line-height: 30px;
    font-family: initial;
    letter-spacing: .32px;
}

.service_advantage {
    margin-top: 50px;
}
.service_advantage .service_advantage_left {
    padding-right: 20px;
}
.service_advantage .service_advantage_left .section_title {
    padding-bottom: 20px;
}
.service_advantage .service_advantage_left .section_title h2 {
    text-transform: capitalize;
}
.service_advantage .service_advantage_left p {
    font-size: 17px;
    font-family: initial;
    color: #797979;
    letter-spacing: .34px;
    line-height: 28px;
}
.service_advantage .service_advantage_left ul {
    padding-left: 32px;
    padding-top: 25px;
}
.service_advantage .service_advantage_left ul li {
    margin-bottom: 10px;
}
.service_advantage .service_advantage_left ul li a {
    font-size: 17px;
    font-family: initial;
    color: #999999;
    letter-spacing: .34px;
    line-height: 28px;
    position: relative;
}
.service_advantage .service_advantage_left ul li a img {
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
}
.service_advantage .service_advantage_left ul li:last-child {
    margin-bottom: 0px;
}
.service_advantage .service_advantage_left ul li:hover a {
    color: black;
}
.service_advantage .service_advantage_left ul li:hover a img {
    left: -25px;
}

.service_consultation_box {
    background: #373540;
    padding: 50px 40px;
}
.service_consultation_box h6 {
    font-size: 22px;
    font-family: initial;
    font-style: italic;
    color: #fff;
    max-width: 210px;
}
.service_consultation_box h4 {
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: .48px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px 30px 0px;
}
.service_consultation_box h4 span {
    color: black;
}

.business_divider_img .b_left_img {
    margin-right: -80px;
}
.business_divider_img .b_right_img {
    float: right;
}

.analysis_business {
    margin-top: 45px;
    padding-bottom: 30px;
}
.analysis_business .analysis_text {
    padding-top: 35px;
}

.analysis_left_text h5 {
    color: white;
    font-size: 24px;
    font-family: initial;
    font-weight: 500;
    padding-bottom: 15px;
}
.analysis_left_text p {
    font-size: 24px;
    line-height: 31px;
    color: white;
    font-family: initial;
    letter-spacing: .48px;
    font-weight: 300;
}

/* End Our Services area css
============================================================================================ */
.helpline_area {
    background: url(../images/job_apply.jpeg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    padding: 100px 0px;
}

.helpline_area:before {
    content: "";
    background: rgba(48, 46, 60, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.helpline_area .helpline_inner {
    max-width: 800px;
    margin: auto;
}

.helpline_area .helpline_inner .media .media-left {
    padding-right: 50px;
}

.helpline_area .helpline_inner .media .media-body h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    opacity: .3;
    letter-spacing: .32px;
}

.helpline_area .helpline_inner .media .media-body h4 {
    font-size: 28px;
    color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    letter-spacing: .84px;
    text-transform: uppercase;
    padding: 10px 0px 15px 0px;
}

.helpline_area .helpline_inner .media .media-body p {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 24px;
    color: #f4f4f4;
    letter-spacing: .36px;
    max-width: 580px;
    padding-bottom: 40px;
}

.helpline_area .helpline_inner .media .media-body .contact_d {
    vertical-align: middle;
}

.helpline_area .helpline_inner .media .media-body .contact_d a {
    color: #18ba60;
    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    letter-spacing: .6px;
    position: relative;
    margin-right: 65px;
}

.helpline_area .helpline_inner .media .media-body .contact_d a:before {
    content: "";
    width: 1px;
    height: 44px;
    background: #73717a;
    position: absolute;
    right: -32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.helpline_area .helpline_inner .media .media-body .contact_d a + a {
    color: #fff;
    font-size: 23px;
    font-weight: normal;
    vertical-align: top;
    margin-right: 0px;
}

.helpline_area .helpline_inner .media .media-body .contact_d a + a:before {
    display: none;
}

.business_box_area {
    padding: 100px 0px;
}

.business_box_area .sec_middle_title {
    padding-bottom: 60px;
}

.business_box_item .business_image {
    overflow: hidden;
    position: relative;
    display: block;
}

.business_box_item .business_image:before {
    content: "";
    background: rgba(72, 180, 216, 0.48);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    display: block;
}

.business_box_item .business_image img {
    max-width: 100%;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.business_box_item .business_text {
    border-left: 3px solid #48b4d8;
    padding-left: 15px;
    margin-top: 30px;
}

.business_box_item .business_text h4 {
    font-size: 16px;
    font-weight: bold;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: .32px;
    padding-bottom: 8px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.business_box_item .business_text h4:hover {
    color: #18ba60;
}

.business_box_item .business_text h5 {
    font-size: 17px;
    color: #898989;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    letter-spacing: .34px;
}

.business_box_item:hover .business_image:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
}

.business_box_item:hover .business_image img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.sec_middle_title {
    text-align: center;
    max-width: 1040px;
    margin: auto;
}

.sec_middle_title h2 {
    font-size: 30px;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .90px;
    padding-bottom: 20px;
}

.sec_middle_title h2 span {
    color: #48b4d8;
}

.sec_middle_title p {
    font-size: 17px;
    line-height: 28px;
    color: #898989;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
}

.section_title {
    padding-bottom: 45px;
}

.section_title h2 {
    font-size: 28px;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .84px;
}

.section_title p {
    font-size: 17px;
    line-height: 28px;
    color: #898989;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    padding-top: 20px;
}

.section_w_title {
    padding-bottom: 40px;
}

.section_w_title h2 {
    font-size: 28px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .84px;
}

.section_w_title p {
    font-size: 17px;
    line-height: 28px;
    color: #898989;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    padding-top: 20px;
}
.banner_area {
    background: url(../images/banner-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    min-height: 352px;
    position: relative;
    z-index: 2;
}

.banner_area:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner_area .banner_content h3 {
    padding-top: 215px;
    color: #fff;
    font-size: 45px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.banner_link {
    background: #f1f1f1;
    border-bottom: 1px solid #d3d3d3;
}

.banner_link .abnner_link_inner a {
    font-size: 16px;
    color: #a2a1a1;
    font-family: "Lato", sans-serif;
    letter-spacing: .32px;
    margin-right: 25px;
    line-height: 60px;
    position: relative;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.banner_link .abnner_link_inner a:before {
    content: "\f105";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    left: -14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a2a1a1;
}

.banner_link .abnner_link_inner a:last-child {
    margin-right: 0px;
}

.banner_link .abnner_link_inner a:first-child:before {
    display: none;
}

.banner_link .abnner_link_inner a:hover, .banner_link .abnner_link_inner a.active {
    color: #18ba60;
}
.our_about_area {
    padding: 100px 0px;
}

.our_about_left_content {
    padding-right: 10px;
}

.our_about_left_content .section_title {
    padding-bottom: 30px;
}

.our_about_left_content h3 {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: .44px;
    color: #242424;
    font-family: "Lato", sans-serif;
}

.our_about_left_content p {
    font-size: 17px;
    line-height: 28px;
    color: #898989;
    letter-spacing: .34px;
    font-family: "Lato", sans-serif;
    padding-top: 30px;
}

.our_about_image {
    overflow: hidden;
    display: inline-block;
    position: relative;
    z-index: 3;
    cursor: pointer;
}

.our_about_image:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    cursor: pointer;
}

.our_about_image img {
    max-width: 100%;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.our_about_image:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.our_about_image:hover:before {
    opacity: 1;
}

/* End Our Abour Area css
============================================================================================ */
/* Consult Policy Area css
============================================================================================ */
.consult_policy_area {
    background: url(../img/consult-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 100px 0px;
}

.consult_policy_area:before {
    content: "";
    background: rgba(41, 40, 46, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.consult_policy_area .consult_policy_inner {
    padding: 0px 70px;
}

.consult_policy_area .consult_policy_inner i {
    color: #18ba60;
}

.consult_policy_area .consult_policy_inner i:before {
    font-size: 40px;
    line-height: 40px;
}

.consult_policy_area .consult_policy_inner h3 {
    font-size: 40px;
    color: #fff;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    padding-top: 20px;
}

.consult_policy_area .consult_policy_inner h3 span {
    color: #48b4d8;
}

.consult_policy_area .consult_policy_inner p {
    font-size: 17px;
    line-height: 28px;
    font-family: "Lato", sans-serif;
    color: #898989;
    letter-spacing: .34px;
    padding: 20px 0px 40px 0px;
}

/* End Consult Policy Area css
============================================================================================ */
/* Manager Area css
============================================================================================ */
.manager_area {
    padding-top: 30px;
}

.manager_area .our_about_left_content {
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 0px;
}

.manager_area .our_about_left_content .section_title {
    padding-bottom: 20px;
}

.manager_area .our_about_left_content img {
    padding-top: 10px;
}

.manager_image {
    margin-right: -50px;
}

.manager_image img {
    max-width: 100%;
    margin-bottom: -76px;
}

/* End Manager Area css
============================================================================================ */
/* Error Area css
============================================================================================ */
.error_area {
    background: url(../img/error-bg.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.error_area:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.error_area .error_content_inner {
    padding-top: 245px;
    padding-bottom: 145px;
}

.error_area .error_content_inner h1 {
    font-size: 200px;
    color: #18ba60;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
}

.error_area .error_content_inner h3 {
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1.5px;
}

.error_area .error_content_inner h5 {
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    color: #fff;
    letter-spacing: .75px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.error_area .error_content_inner .submit_btn {
    width: 310px;
    height: 74px;
    line-height: 74px;
    font-size: 22.75px;
    letter-spacing: 0.455px;
}

/* End Manager Area css
============================================================================================ */
/* Carrers Area css
============================================================================================ */
.carrers_area {
    padding: 100px 0px;
}

.carrers_left .nav.nav-tabs {
    border: none;
}

.carrers_left .nav.nav-tabs li {
    float: none;
    margin-bottom: 3px;
}

.carrers_left .nav.nav-tabs li a {
    display: block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .3px;
    line-height: 55px;
    padding: 0px 25px;
    border-radius: 0px;
    cursor: pointer;
}

.carrers_left .nav.nav-tabs li:last-child {
    margin-bottom: 0px;
}

.carrers_left .nav.nav-tabs li.active a {
    background: #48b4d8;
    color: #fff;
}

.carrers_left .contact_info {
    margin-top: 50px;
    padding-right: 17px;
}

.carrers_left .contact_info h2 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    padding-bottom: 18px;
}

.carrers_left .contact_info p {
    font-size: 16px;
    line-height: 22px;
    color: #797979;
    letter-spacing: .48px;
    padding-bottom: 13px;
}

.carrers_left .contact_info h5 {
    font-size: 16px;
    line-height: 22px;
    color: #797979;
    letter-spacing: .48px;
    padding-bottom: 13px;
}

.carrers_left .contact_info h5 a {
    color: #797979;
    letter-spacing: .48px;
    font-size: 16px;
}

.carrers_left .contact_info h5 + h5 {
    padding-bottom: 0px;
}

.carrers_left.affix {
    top: 0;
    width: 270px;
    position: fixed;
}

.carrers_left.affix-bottom {
    position: absolute;
    width: 270px;
}

.download_btn a {
    display: block;
    background: #373540;
    padding: 13px 18px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: #fff;
}

.download_btn a img {
    float: right;
}

.carrers_right_content {
    padding-left: 30px;
}

.carrers_right_content .section_title {
    padding-bottom: 22px;
}

.carrers_right_content .section_title h2 {
    font-size: 24px;
    color: #242424;
}

.carrers_right_content .tab-content .tab-pane .requirements_text p {
    font-size: 17px;
    line-height: 28px;
    color: #797979;
    letter-spacing: .34px;
    padding-bottom: 20px;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul {
    padding-left: 25px;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul li {
    margin-bottom: 10px;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul li a {
    font-size: 17px;
    line-height: 28px;
    color: #797979;
    letter-spacing: .34px;
    position: relative;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul li a i {
    position: absolute;
    left: -25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #18ba60;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul li:last-child {
    margin-bottom: 0px;
}

.carrers_right_content .tab-content .tab-pane .requirements_text ul li:hover a {
    color: #18ba60;
}

.company_history_list .media {
    margin-top: 34px;
}

.company_history_list .media:first-child {
    margin-top: 0px;
}

.company_history_list .media .media-left {
    padding-right: 45px;
}

.company_history_list .media .media-left a {
    color: #fff;
    background: #18ba60;
    display: block;
    font-size: 24px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 46px;
    padding: 0px 34px;
}

.company_history_list .media .media-body h4 {
    font-size: 20px;
    text-transform: uppercase;
    color: #242424;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-bottom: 18px;
}

.company_history_list .media .media-body p {
    font-size: 17px;
    line-height: 28px;
    color: #797979;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
}

.company_history_list .media .media-body .history_img_div {
    margin-top: 35px;
    margin-bottom: 28px;
}

.company_history_list .media .media-body .history_img_div .history_img_item {
    display: inline-block;
    margin-right: 28px;
}

.company_history_list .media .media-body .history_img_div .history_img_item img {
    max-width: 100%;
}

.company_history_list .media .media-body .history_img_div .history_img_item:last-child {
    margin-right: 0px;
}

.open_position .section_title {
    padding-bottom: 33px;
    padding-top: 40px;
}

.open_position .section_title h2 {
    font-size: 24px;
}

.open_position .panel-group {
    margin-bottom: 0px;
}

.open_position .panel-group .panel-default {
    border-radius: 0px;
    border-color: #e5e5e5;
    margin-top: 20px;
}

.open_position .panel-group .panel-default:first-child {
    margin-top: 0px;
}

.open_position .panel-group .panel-default .panel-heading {
    padding: 0px;
    border-color: #e5e5e5;
}

.open_position .panel-group .panel-default .panel-heading .panel-title a {
    display: block;
    padding: 0px 20px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 50px;
    background: #303032;
    color: #fff;
    font-weight: bold;
    letter-spacing: .36px;
}

.open_position .panel-group .panel-default .panel-heading .panel-title a i {
    float: right;
    line-height: 50px;
}

.open_position .panel-group .panel-default .panel-heading .panel-title a.collapsed {
    background: #fafafa;
    color: #242424;
}

.open_position .panel-group .panel-collapse .panel-body {
    padding: 30px 38px 80px 40px;
    background: #fafafa;
}

.open_position .panel-group .panel-collapse .panel-body h3 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #242424;
    padding-bottom: 15px;
}

.open_position .panel-group .panel-collapse .panel-body p {
    font-size: 17px;
    line-height: 28px;
    color: #797979;
    letter-spacing: .34px;
    font-family: "Lato", sans-serif;
    padding-bottom: 30px;
}

.open_position .panel-group .panel-collapse .panel-body p + p {
    padding-bottom: 0px;
}

.download_area {
    padding: 26px 60px;
    background: #303032;
    overflow: hidden;
    clear: both;
    margin-top: 45px;
}

.download_area .pull-left h4 {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #fff;
    padding-top: 13px;
}

.download_area .pull-right .main_btn {
    padding: 0px 25px;
}

/* End Carrers Area css
============================================================================================ */
/* Company Overview Area css
============================================================================================ */
.about_company .section_title {
    padding-top: 48px;
}

.about_company p {
    font-size: 17px;
    font-weight: 400;
    color: #797979;
    line-height: 28px;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
    padding-bottom: 35px;
}

.about_company p + p {
    padding-bottom: 0px;
}

.about_company .business_divider_img .our_about_image img {
    max-width: none;
}

.we_are_content {
    margin-top: 45px;
    margin-bottom: 50px;
}

.we_are_content .we_are_text {
    margin-right: -23px;
}

.we_are_content .we_are_text p {
    font-size: 17px;
    font-weight: 400;
    color: #797979;
    line-height: 28px;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
    padding-bottom: 30px;
}

.we_are_content .we_are_text p + p {
    padding-bottom: 0px;
}

.we_are_content .we_are_text ul {
    padding-left: 32px;
    padding-top: 25px;
}

.we_are_content .we_are_text ul li {
    margin-bottom: 13px;
}

.we_are_content .we_are_text ul li a {
    position: relative;
    font-size: 17px;
    color: #999999;
    font-family: "Lato", sans-serif;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.we_are_content .we_are_text ul li a img {
    position: absolute;
    left: -32px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.we_are_content .we_are_text ul li:last-child {
    margin-bottom: 0px;
}

.we_are_content .we_are_text ul li:hover a {
    color: #18ba60;
}

.we_are_content .we_are_text ul li:hover a img {
    left: -25px;
}

.we_are_content .our_about_image {
    margin-left: 23px;
}

.we_are_content .our_about_image + .our_about_image {
    margin-top: 17px;
}

.we_are_content.companu_history_img {
    margin-top: 0px;
    margin-bottom: 45px;
}

.we_are_content.companu_history_img .we_are_text p {
    padding-bottom: 25px;
}

.we_are_content.companu_history_img .we_are_text p:last-child {
    padding-bottom: 0px;
}

.development_process {
    background: #f1f1f1;
    padding: 45px 40px 60px 40px;
}

.development_process p {
    font-size: 17px;
    font-weight: 400;
    color: #797979;
    line-height: 28px;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
}

.panel-group.faq_panel .panel-default {
    border-radius: 0px;
    border-color: #d1d1d1;
    margin-top: 20px;
}

.panel-group.faq_panel .panel-default .panel-heading {
    padding: 0px;
    background: transparent;
}

.panel-group.faq_panel .panel-default .panel-heading .panel-title a {
    font-size: 18px;
    color: #fff;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
    line-height: 50px;
    background: #18ba60;
    display: block;
    padding: 0px 20px;
    font-weight: 600;
}

.panel-group.faq_panel .panel-default .panel-heading .panel-title a i {
    float: right;
    line-height: 50px;
}

.panel-group.faq_panel .panel-default .panel-heading .panel-title a.collapsed {
    background: #fafafa;
    color: #242424;
}

.panel-group.faq_panel .panel-default .panel-heading .panel-title a.collapsed i {
    color: #909090;
}

.panel-group.faq_panel .panel-default:first-child {
    margin-top: 0px;
}

.panel-group.faq_panel .panel-default .panel-collapse .panel-body {
    background: #fafafa;
    padding: 30px 40px 38px 40px;
    font-size: 17px;
    font-weight: 400;
    color: #797979;
    line-height: 28px;
    font-family: "Lato", sans-serif;
    letter-spacing: .34px;
}

.partner_details .section_title {
    padding-bottom: 20px;
}

.partner_details_inner .media {
    background: #f1f1f1;
    padding: 30px 0px;
    margin-top: 30px;
}

.partner_details_inner .media .media-left {
    padding-right: 20px;
    padding-left: 15px;
}

.partner_details_inner .media .media-body {
    vertical-align: middle;
    padding-right: 60px;
}

.partner_details_inner .media .media-body h4 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #242424;
    letter-spacing: .40px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.partner_details_inner .media .media-body p {
    font-size: 17px;
    color: #797979;
    line-height: 28px;
    letter-spacing: .34px;
}
